In [ ]:
Pandas is a Library designed for python programming.It used for following concepts.

    -> Data Manipulation
    
    -> Loading Data from different file formats
    
    -> Converting Data into DataFrame or Series which is nothing but tabular form

In [ ]:
What is Series and DataFrame?

-> DataFrame which conists of 2 or more columns with n number of rows

-> Series going to have only one column with n number of rows

-> Series and DataFrame are also called datatype

In [ ]:
Series

-> Series going to have 1d that means 1 column with n number of rows

In [ ]:
DataFrame

-> DataFrame going to have 2d that means row and columns

In [ ]:
Important topics need to discuss in the pandas

-> How to install and import the pandas

-> How to load the data from different file formats into Series or DataFrame

-> Understanding indexing and Slicing concepts

-> In pandas we are goin gto see additional topics like loc and iloc to handle the rows and columns

In [ ]:
Pandas

-> we can create Series and DataFame

-> Indexing is going to genrate defautly. Forward 0 to n-1

-> We can customise the indexing

-> To handle row and column elements we are going to use index values, slicing, loc and iloc
    
    -> loc => location value
    
    -> iloc => index location value
    
-> We can create and customize the column names

-> based on column datatype is going to assigned

-> We can create and change the column values and row values

-> based columns we can apply scientific computing (Calculations)

-> We can create Series and DataFrame by using list, dict, ndarray ....

-> We are going to find the null values and also treat the null values

-> We are going to find extreme values, and scaling the outliers

-> Unnecessary columns, rows, values can be deleted and fill with other values

-> We can find the duplicate rows and columns

-> We can find the each column, category or class count

-> We can tranform the data by using pandas

-> Based on logic we can seperate rows and columns by using Boolean output operators

-> We can extract daata from one file format and store in another file format

In [ ]:
installing the pandas

    -> pip install pandas
    
    -> conda install pandas

In [ ]:
importing the pandas

    -> import pandas
    
    -> import pandas as pd
    
    -> from pandas import Series, DataFrame
    
    -> from pandas import *

In [ ]:
DataFrame

-> Data Frame means 1+ columns with n number rows

-> Dataframe going to looks like tabular form

-> Each and every column we can apply scientific calculations based on datatype

-> Based column datatype is going to assigned

In [1]:
import pandas as pd

In [2]:
# Creating the empty DataFrame
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
# Creating the DataFrame from Dict
# ALl keys ame'becomes as column names
d = {'Name':['Divesh','Sai','Mahesh','Balaji'],
    'Phone':['iphone','iQ','Realme','Oneplus'],
    'Network':['Airtel','Gio','Gio','Airtel'],
    'State':['AP','Ka','AP','AP']}
d

{'Name': ['Divesh', 'Sai', 'Mahesh', 'Balaji'],
 'Phone': ['iphone', 'iQ', 'Realme', 'Oneplus'],
 'Network': ['Airtel', 'Gio', 'Gio', 'Airtel'],
 'State': ['AP', 'Ka', 'AP', 'AP']}

In [4]:
type(d)

dict

In [6]:
df = pd.DataFrame(d)
df

     Name    Phone Network State
0  Divesh   iphone  Airtel    AP
1     Sai       iQ     Gio    Ka
2  Mahesh   Realme     Gio    AP
3  Balaji  Oneplus  Airtel    AP

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# Creating DataFrame From ndarray

import numpy as np
ar = np.array([[1,8,9,10],[7,8,6,12],[7,2,1,13],[3,5,7,12]])
ar

array([[ 1,  8,  9, 10],
       [ 7,  8,  6, 12],
       [ 7,  2,  1, 13],
       [ 3,  5,  7, 12]])

In [10]:
df_ar = pd.DataFrame(ar)
df_ar

   0  1  2   3
0  1  8  9  10
1  7  8  6  12
2  7  2  1  13
3  3  5  7  12

In [ ]:
Getting Data from different Sources => file extensions where we are storing the data

    -> csv => comma seperated values
    
    -> tsv => tab seperated values
    
    -> xls => Excel file extension
    
    -> DataBase => SQl, MySQl ...

In [11]:
import pandas as pd

In [12]:
# if dataset file and program file in same folder means you don;t require to pass directory
df_a = pd.read_csv('iris.csv')
df_a.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
df_a = pd.read_csv(r"C:\Users\gn221m\PERSONAL\iris.csv")
df_a.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
df_a.to_excel('iris_new.xlsx')

In [27]:
# How to store Dataframe in another file format
df_a.to_html('iris.html')
#df_a.to_e

In [ ]:
-> head

    -> head defaultly provide top 5 rows
    
    -> we can customise the number of rows to display
    
    -> we can store that in another variable

-> tail
    
    -> display last 5 rows default
    
    -> we can customize the number of rows
    
    -> we can store that in another variable

-> shape

    -> display number of rows , number of columns in the dataframe

-> dimensions

    -> number of dimensions.
    
    -> rows and columns

-> columns    

    -> displaying thwe columnnames

In [28]:
df_a.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [29]:
df_a.head(6)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [31]:
df_a.tail(4)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
df_a.shape

(150, 6)

In [32]:
df_h = df_a.head(15)
df_h

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

In [33]:
df_h.shape

(15, 6)

In [47]:
df_a.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [49]:
df_a.shape

(150, 6)

In [34]:
df_a.ndim

2

In [35]:
df_a.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [39]:
df = pd.read_csv("iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [40]:
df_drp = df.drop(columns={"Id"})

In [41]:
df_drp.head(2)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa

In [42]:
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [ ]:
df.drop(columns={"Id"},inplace=True)

In [43]:
X = df.drop(columns={"Id","Species"})
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [44]:
X.head(2)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2

In [45]:
### To know the information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [46]:
# To know the Statistics we use describe
# We can apply describe only on numerical data
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [47]:
# categerical 
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [48]:
df.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [50]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [49]:
df.SepalLengthCm.value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: SepalLengthCm, dtype: int64

In [51]:
df['Species'].mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
dtype: object

In [52]:
Creating Series

    -> One column will be there
    
    -> indexing is going to generate defaultly

SyntaxError: invalid syntax (<ipython-input-52-ef25f3741d52>, line 1)

In [53]:
s = pd.Series()

C:\Users\gn221m\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [54]:
s

Series([], dtype: float64)

In [55]:
# List to Series
ls = [1,8,9,4]
s= pd.Series(ls)
s

0    1
1    8
2    9
3    4
dtype: int64

In [56]:
#Tuple to Series
tp = [1,8,9,4]
s= pd.Series(tp)
s

0    1
1    8
2    9
3    4
dtype: int64

In [71]:
# dict to Series
d = {'a':1,'b':8,'c':9,'d':4}
# keys are going to become as index and values are in column
s= pd.Series(d)
s

a    1
b    8
c    9
d    4
dtype: int64

In [75]:
type(s)

pandas.core.series.Series

In [77]:
s.iloc[2]

9

In [78]:
s.iloc[-1]

4

In [74]:
s.iloc[2]

9

In [86]:
# numpy to Series
import numpy as np

ar = np.array(ls)
s= pd.Series(ar)
s

0    1
1    8
2    9
3    4
dtype: int32

In [87]:
### indexing

In [88]:
s

0    1
1    8
2    9
3    4
dtype: int32

In [89]:
s[1]

8

In [90]:
s

0    1
1    8
2    9
3    4
dtype: int32

In [91]:
s[-3]

KeyError: -3

In [ ]:
To over come above problem we are using loc and iloc

    -> loc  => location  => index represented value 
    
    -> iloc => index location  => we follow python indexing values

In [69]:
s.loc[2]

9

In [70]:
s.loc[3]

4

In [63]:
s.iloc[-3]

8

In [64]:
s.iloc[-1]

4

In [65]:
s[:]

0    1
1    8
2    9
3    4
dtype: int32

In [66]:
s[:2]

0    1
1    8
dtype: int32

In [67]:
s[1:]

1    8
2    9
3    4
dtype: int32

In [68]:
s[1:3]

1    8
2    9
dtype: int32